acstore==20240407
adal==1.2.7
adblockparser==0.7
aiodns==3.2.0
aiofiles==24.1.0
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.20.0
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==21.1.0
artifacts==20230928
asgiref==3.8.1
asn1crypto==1.5.1
asteval==0.9.31
async-timeout==4.0.3
attrs==23.2.0
autocommand==2.2.2
avro==1.12.0
azure-agrifood-farming==1.0.0b3
azure-ai-anomalydetector==3.0.0b7
azure-ai-contentsafety==1.0.0
azure-ai-documentintelligence==1.0.0b4
azure-ai-evaluation==1.0.0b1
azure-ai-formrecognizer==3.3.4
azure-ai-generative==1.0.0b8
azure-ai-inference==1.0.0b5
azure-ai-language-conversations==1.1.1
azure-ai-language-questionanswering==1.1.1
azure-ai-metricsadvisor==1.0.1
azure-ai-ml==1.20.0
azure-ai-personalizer==1.0.0b2
azure-ai-resources==1.0.0b8
azure-ai-textanalytics==5.3.1
azure-ai-translation-document==1.1.0b2
azure-ai-translation-text==1.0.2
azure-ai-vision-face==1.0.0b2
azure-ai-vision-imageanalysis==1.0.0b4
azure-appconfiguration==1.7.1
azure-appconfiguration-provider==1.3.0b1
azure-applicationinsights==0.1.1
azure-batch==14.2.0
azure-cognitiveservices-anomalydetector==0.3.1
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-knowledge-qnamaker==0.3.1
azure-cognitiveservices-language-luis==0.7.1
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.2
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.1
azure-cognitiveservices-search-customimagesearch==0.2.1
azure-cognitiveservices-search-customsearch==0.3.1
azure-cognitiveservices-search-entitysearch==2.0.1
azure-cognitiveservices-search-imagesearch==2.0.1
azure-cognitiveservices-search-newssearch==2.0.1
azure-cognitiveservices-search-videosearch==2.0.1
azure-cognitiveservices-search-visualsearch==0.2.1
azure-cognitiveservices-search-websearch==2.0.1
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.29
azure-communication-callautomation==1.3.0b1
azure-communication-chat==1.3.0
azure-communication-email==1.0.1
azure-communication-identity==1.5.1
azure-communication-jobrouter==1.1.0b2
azure-communication-messages==1.0.1
azure-communication-phonenumbers==1.2.0b2
azure-communication-rooms==1.1.0
azure-communication-sms==1.1.0
azure-confidentialledger==1.1.2
azure-containerregistry==1.2.1
azure-core==1.31.0
azure-core-experimental==1.0.0b5
azure-cosmos==4.7.1
azure-data-tables==12.6.0b1
azure-defender-easm==1.0.0b2
azure-developer-devcenter==1.0.1
azure-developer-loadtesting==1.0.1
azure-digitaltwins-core==1.2.1
azure-eventgrid==4.20.1
azure-eventhub==5.12.2
azure-eventhub-checkpointstoreblob==1.2.0
azure-eventhub-checkpointstoreblob-aio==1.2.0
azure-eventhub-checkpointstoretable==1.0.0b1
azure-graphrbac==0.61.1
azure-health-deidentification==1.0.0b2
azure-healthinsights-cancerprofiling==1.0.0b2
azure-healthinsights-clinicalmatching==1.0.0b2
azure-healthinsights-radiologyinsights==1.0.0
azure-identity==1.18.0b3
azure-identity-broker==1.1.1
azure-iot-deviceprovisioning==1.0.0b1
azure-iot-deviceupdate==1.0.1
azure-iot-modelsrepository==1.0.0b2
azure-keyvault==4.2.1b1
azure-keyvault-administration==4.5.0b1
azure-keyvault-certificates==4.9.0b1
azure-keyvault-keys==4.10.0b1
azure-keyvault-secrets==4.9.0b1
azure-loganalytics==0.1.2
azure-maps-geolocation==1.0.0b2
azure-maps-render==2.0.0b2
azure-maps-route==1.0.0b2
azure-maps-search==2.0.0b2
azure-maps-timezone==1.0.0b1
azure-maps-weather==1.0.0b1
azure-media-analytics-edge==1.0.0b2
azure-media-videoanalyzer-edge==1.0.0b4
azure-messaging-webpubsubclient==1.1.0
azure-messaging-webpubsubservice==1.2.2
azure-mgmt-advisor==10.0.0b1
azure-mgmt-agrifood==1.0.0b3
azure-mgmt-alertsmanagement==2.0.0b2
azure-mgmt-apicenter==1.0.0
azure-mgmt-apimanagement==4.0.1
azure-mgmt-app==1.0.0b2
azure-mgmt-appcomplianceautomation==1.0.0
azure-mgmt-appconfiguration==3.0.0
azure-mgmt-appcontainers==3.1.0
azure-mgmt-applicationinsights==4.0.0
azure-mgmt-appplatform==9.1.0
azure-mgmt-astro==1.0.0b1
azure-mgmt-attestation==2.0.0b1
azure-mgmt-authorization==4.0.0
azure-mgmt-automanage==2.0.0b1
azure-mgmt-automation==1.1.0b3
azure-mgmt-avs==9.0.0b1
azure-mgmt-azurearcdata==2.0.0b1
azure-mgmt-azurelargeinstance==1.0.0b2
azure-mgmt-azurestack==2.0.0b1
azure-mgmt-azurestackhci==8.0.0b4
azure-mgmt-baremetalinfrastructure==1.1.0b2
azure-mgmt-batch==17.3.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.1.0b1
azure-mgmt-billingbenefits==1.0.0b1
azure-mgmt-botservice==2.0.0
azure-mgmt-cdn==13.1.1
azure-mgmt-changeanalysis==1.0.0
azure-mgmt-chaos==1.1.0
azure-mgmt-cognitiveservices==13.5.0
azure-mgmt-commerce==6.1.0b1
azure-mgmt-communication==2.1.0
azure-mgmt-compute==33.0.0
azure-mgmt-computefleet==1.0.0b1
azure-mgmt-confidentialledger==2.0.0b4
azure-mgmt-confluent==2.1.0
azure-mgmt-connectedvmware==1.0.0
azure-mgmt-consumption==11.0.0b1
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==31.0.0
azure-mgmt-containerservicefleet==2.0.0
azure-mgmt-core==1.4.0
azure-mgmt-cosmosdb==9.5.1
azure-mgmt-cosmosdbforpostgresql==1.1.0b1
azure-mgmt-costmanagement==4.0.1
azure-mgmt-customproviders==1.1.0b1
azure-mgmt-dashboard==1.1.0
azure-mgmt-databox==2.0.0
azure-mgmt-databoxedge==2.0.0b1
azure-mgmt-databricks==2.0.0
azure-mgmt-datadog==2.1.0
azure-mgmt-datafactory==9.0.0
azure-mgmt-datalake-analytics==1.0.0b2
azure-mgmt-datalake-store==1.1.0b1
azure-mgmt-datamigration==10.1.0b1
azure-mgmt-dataprotection==1.4.0
azure-mgmt-datashare==1.1.0b1
azure-mgmt-defendereasm==1.0.0b1
azure-mgmt-deploymentmanager==2.0.0b1
azure-mgmt-desktopvirtualization==1.1.0
azure-mgmt-devcenter==1.1.0
azure-mgmt-devhub==1.0.0b1
azure-mgmt-deviceregistry==1.0.0b1
azure-mgmt-deviceupdate==1.1.0
azure-mgmt-devopsinfrastructure==1.0.0b1
azure-mgmt-devspaces==1.0.0b3
azure-mgmt-devtestlabs==10.0.0b1
azure-mgmt-digitaltwins==6.4.0
azure-mgmt-dns==8.1.0
azure-mgmt-dnsresolver==1.1.0b1
azure-mgmt-documentdb==0.1.3
azure-mgmt-dynatrace==2.0.0
azure-mgmt-edgegateway==0.1.0
azure-mgmt-edgeorder==2.0.0b1
azure-mgmt-edgezones==1.0.0b1
azure-mgmt-education==1.0.0b2
azure-mgmt-elastic==1.1.0b3
azure-mgmt-elasticsan==1.0.0
azure-mgmt-eventgrid==10.3.0b4
azure-mgmt-eventhub==11.1.0
azure-mgmt-extendedlocation==1.2.0b1
azure-mgmt-fabric==1.0.0b1
azure-mgmt-fluidrelay==1.1.0b1
azure-mgmt-frontdoor==1.2.0
azure-mgmt-graphservices==1.0.0
azure-mgmt-guestconfig==1.0.0b2
azure-mgmt-hanaonazure==1.1.0b1
azure-mgmt-hardwaresecuritymodules==1.0.0b1
azure-mgmt-hdinsight==9.0.0b3
azure-mgmt-hdinsightcontainers==1.0.0b3
azure-mgmt-healthbot==1.0.0b2
azure-mgmt-healthcareapis==2.1.0
azure-mgmt-healthdataaiservices==1.0.0b1
azure-mgmt-hybridcompute==9.0.0b4
azure-mgmt-hybridconnectivity==1.0.0
azure-mgmt-hybridcontainerservice==1.0.0
azure-mgmt-hybridkubernetes==1.2.0b1
azure-mgmt-hybridnetwork==2.0.0
azure-mgmt-imagebuilder==1.4.0
azure-mgmt-informaticadatamanagement==1.0.0
azure-mgmt-iotcentral==10.0.0b2
azure-mgmt-iotfirmwaredefense==1.0.0
azure-mgmt-iothub==3.0.0
azure-mgmt-iothubprovisioningservices==1.2.0b2
azure-mgmt-keyvault==10.3.1
azure-mgmt-kubernetesconfiguration==3.1.0
azure-mgmt-kusto==3.3.0
azure-mgmt-labservices==2.1.0b1
azure-mgmt-largeinstance==1.0.0b1
azure-mgmt-loadtesting==1.0.0
azure-mgmt-loganalytics==13.0.0b6
azure-mgmt-logic==10.1.0b1
azure-mgmt-logz==1.1.0b1
azure-mgmt-machinelearningcompute==1.0.0b2
azure-mgmt-machinelearningservices==2.0.0b2
azure-mgmt-maintenance==2.2.0b2
azure-mgmt-managedapplications==1.0.0b1
azure-mgmt-managednetworkfabric==1.0.0
azure-mgmt-managedservices==7.0.0b1
azure-mgmt-managementgroups==1.1.0b1
azure-mgmt-managementpartner==1.1.0b1
azure-mgmt-maps==2.1.0
azure-mgmt-marketplaceordering==1.2.0b1
azure-mgmt-media==10.2.0
azure-mgmt-migrationdiscoverysap==1.0.0b1
azure-mgmt-mixedreality==1.1.0b1
azure-mgmt-mobilenetwork==3.3.0
azure-mgmt-mongocluster==1.0.0b1
azure-mgmt-monitor==6.0.2
azure-mgmt-msi==7.1.0b1
azure-mgmt-mysqlflexibleservers==1.0.0b1
azure-mgmt-netapp==13.2.0
azure-mgmt-network==26.0.0
azure-mgmt-networkanalytics==1.0.0
azure-mgmt-networkcloud==1.0.0
azure-mgmt-networkfunction==1.0.0b1
azure-mgmt-newrelicobservability==1.1.0
azure-mgmt-nginx==3.1.0b1
azure-mgmt-notificationhubs==8.1.0b2
azure-mgmt-oep==1.0.0b2
azure-mgmt-operationsmanagement==2.0.0b1
azure-mgmt-oracledatabase==1.0.0
azure-mgmt-orbital==2.0.0
azure-mgmt-paloaltonetworksngfw==2.0.0b1
azure-mgmt-peering==2.0.0b1
azure-mgmt-playwrighttesting==1.0.0b2
azure-mgmt-policyinsights==1.1.0b4
azure-mgmt-portal==1.1.0b1
azure-mgmt-postgresqlflexibleservers==1.0.0b1
azure-mgmt-powerbidedicated==1.1.0b1
azure-mgmt-powerbiembedded==3.0.0
azure-mgmt-privatedns==1.1.0
azure-mgmt-purview==1.1.0b1
azure-mgmt-quantum==1.0.0b5
azure-mgmt-qumulo==1.0.0
azure-mgmt-quota==2.0.0b1
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-recoveryservices==3.0.0
azure-mgmt-recoveryservicesbackup==9.1.0
azure-mgmt-recoveryservicesdatareplication==1.0.0b1
azure-mgmt-recoveryservicessiterecovery==1.2.0
azure-mgmt-redhatopenshift==1.5.0
azure-mgmt-redis==14.4.0
azure-mgmt-redisenterprise==3.1.0b1
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==2.0.0b1
azure-mgmt-reservations==2.3.0
azure-mgmt-resource==23.1.1
azure-mgmt-resourceconnector==1.0.0
azure-mgmt-resourcegraph==8.1.0b3
azure-mgmt-resourcehealth==1.0.0b5
azure-mgmt-resourcemover==1.1.0
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-scvmm==1.0.0
azure-mgmt-search==9.2.0b2
azure-mgmt-security==7.0.0
azure-mgmt-securitydevops==1.0.0b2
azure-mgmt-securityinsight==2.0.0b2
azure-mgmt-selfhelp==2.0.0b4
azure-mgmt-serialconsole==1.1.0b1
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==8.2.0
azure-mgmt-servicefabric==2.2.0b1
azure-mgmt-servicefabricmanagedclusters==2.0.0
azure-mgmt-servicelinker==1.2.0b2
azure-mgmt-servicenetworking==1.0.0
azure-mgmt-signalr==2.0.0b2
azure-mgmt-sphere==1.0.0
azure-mgmt-springappdiscovery==1.0.0b1
azure-mgmt-sql==4.0.0b18
azure-mgmt-sqlvirtualmachine==1.0.0b6
azure-mgmt-standbypool==1.0.0b1
azure-mgmt-storage==21.2.1
azure-mgmt-storageactions==1.0.0b1
azure-mgmt-storagecache==2.0.0
azure-mgmt-storageimportexport==1.0.0b2
azure-mgmt-storagemover==2.1.0
azure-mgmt-storagepool==1.1.0b1
azure-mgmt-storagesync==2.0.0b1
azure-mgmt-streamanalytics==2.0.0b2
azure-mgmt-subscription==3.2.0b1
azure-mgmt-support==7.0.0
azure-mgmt-synapse==2.1.0b7
azure-mgmt-testbase==1.0.0b2
azure-mgmt-timeseriesinsights==2.0.0b1
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-videoanalyzer==1.0.0b4
azure-mgmt-vmwarecloudsimple==1.0.0b2
azure-mgmt-voiceservices==1.0.0
azure-mgmt-web==7.3.1
azure-mgmt-webpubsub==2.0.0b2
azure-mgmt-workloadmonitor==1.0.0b4
azure-mgmt-workloads==1.0.0
azure-mgmt-workloadssapvirtualinstance==1.0.0b1
azure-mixedreality-authentication==1.0.0b2
azure-mixedreality-remoterendering==1.0.0b2
azure-monitor-ingestion==1.0.5
azure-monitor-opentelemetry==1.6.2
azure-monitor-opentelemetry-exporter==1.0.0b29
azure-monitor-query==1.4.1
azure-openai==1.0.0b1
azure-purview-administration==1.0.0b2
azure-purview-catalog==1.0.0b5
azure-purview-datamap==1.0.0b2
azure-purview-scanning==1.0.0b3
azure-purview-sharing==1.0.0b3
azure-purview-workflow==1.0.0b3
azure-schemaregistry==1.3.0
azure-schemaregistry-avroencoder==1.0.1
azure-schemaregistry-avroserializer==1.0.0b4.post1
azure-search-documents==11.6.0b5
azure-security-attestation==1.1.0
azure-servicebus==7.12.3
azure-servicefabric==8.2.1
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==12.23.0
azure-storage-blob-changefeed==12.0.0b6
azure-storage-file-datalake==12.17.0
azure-storage-file-share==12.18.0
azure-storage-queue==12.12.0
azure-synapse==0.1.1
azure-synapse-accesscontrol==0.8.0
azure-synapse-artifacts==0.19.1
azure-synapse-managedprivateendpoints==0.5.0
azure-synapse-monitoring==0.3.0
azure-synapse-spark==0.8.0
azure-template==0.0.18b3
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
billiard==4.2.0
binwalk==2.3.3
blackduck==1.1.0
bleach==6.1.0
blinker==1.8.2
blosc==1.11.1
boto3==1.34.46
botocore==1.34.46
Bottleneck==1.3.8
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.3.3
capstone==4.0.2
catfish==4.16.4
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
cfscrape==1.9.5
chardet==5.2.0
charset-normalizer==3.3.2
cheroot==10.0.0+ds1
CherryPy==18.9.0
cherrypy-cors==1.6
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
cloudscraper==1.2.71
colorama==0.4.6
contourpy==1.0.7
coreapi==2.3.3
corehttp==1.0.0b5
coreschema==0.0.4
cpe==1.2.1
cryptography==42.0.5
cssselect==1.2.0
cupshelpers==1.0
cvss==2.4
cycler==0.12.1
dask==2024.5.2+dfsg
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dfdatetime==20240220
dfvfs==20240505
dfwinreg==20211207
distorm3==3.5.2
distributed==0+unknown
distro==1.9.0
Django==4.2.14
django-appconf==1.0.6
django-auditlog==2.3.0
django-celery-results==2.5.1
django-crispy-forms==2.1
django-crum==0.7.9.dev0
django-dbbackup==4.1.0
django-environ==0.11.2
django-extensions==3.2.3
django-extra-views==0.14.0
django-fieldsignals==0.7.0
django-filter==24.2
django-guardian==2.4.0
django-imagekit==5.0.0
django-multiselectfield==0.1.12
django-polymorphic==3.1.0
django-ratelimit==4.1.0
django-split-settings==1.3.1
django-tagging==0.5.0
django-tagulous==1.3.3
django-watson==1.6.2
djangorestframework==3.15.2
djangorestframework-guardian==0.3.0
dnspython==2.6.1
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.7.1
drf-yasg==1.21.7
dropbox==12.0.2
dsinternals==1.2.4
dtfabric==20240211
duckpy==3.2.0
easygui==0.98.1
ecdsa==0.19.0
elasticsearch==7.17.6
email_validator==2.2.0
ephem==4.1.5
et-xmlfile==1.0.1
ExifRead==3.0.0
fastapi==0.110.0
fastjsonschema==2.20.0
feedparser==6.0.11
Flask==3.0.3
Flor==1.1.3
fonttools==4.46.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2024.6.1
fusepy==3.0.1
GDAL==3.8.5
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.37
google-api-core==2.19.0
google-api-python-client==2.142.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
googleapis-common-protos==1.65.0
greenlet==3.0.1
grokevt==0.5
gunicorn==23.0.0
gyp-next==0.16.2
h11==0.14.0
h2==4.1.0
hatch-vcs==0.4.0
hatchling==1.25.0
hpack==4.0.0
html2text==2024.2.26
html5lib==1.1
httpagentparser==1.9.1
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
hyperframe==6.0.0
hyperlink==21.0.0
idna==3.6
impacket==0.12.0.dev1
importlib-metadata==7.1.0
importlib-resources==6.0.1
inflect==7.3.1
inflection==0.3.1
iniconfig==1.1.1
invoke==2.2.0
ipwhois==1.2.0
isodate==0.6.1
itsdangerous==2.2.0
itypes==1.2.0
jaraco.collections==5.0.1
jaraco.context==6.0.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
Jinja2==3.1.3
jira==3.5.2
jmespath==1.0.1
joblib==1.3.2
JSON-log-formatter==1.0
jsonpath-ng==1.6.1
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
kali-tweaks==2023.3.2
kiwisolver==1.4.5
kombu==5.4.0
ldap3==2.9.1
ldapdomaindump==0.9.4
libarchive-c==5.1
lightdm-gtk-greeter-settings==1.2.3
lml==0.1.0
locket==1.0.0
louis==3.31.0
lxml==5.1.0
lz4==4.0.2+dfsg
Mako==1.3.5.dev0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.1
maryam==2.5.2.post2
matplotlib==3.6.3
mdurl==0.1.2
mechanize==0.4.10
mock==5.1.0
more-itertools==10.3.0
mpmath==1.3.0
msal==1.30.0
msal-extensions==1.2.0
msgpack==1.0.3
msrest==0.6.21
msrestazure==0.6.4
multidict==6.0.4
nbformat==5.9.1
netaddr==0.10.1
netifaces==0.11.0
networkx==3.2.1
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
openpyxl==3.1.5
osrframework==0.20.5
packageurl-python==0.9.9
packaging==24.1
pandas==2.1.4+dfsg
paramiko==3.4.1
partd==1.4.2
pathspec==0.12.1
pcapy==0.11.5.dev0
pefile==2023.2.7
pexpect==4.9.0
phonenumbers==8.12.57
pika==1.3.2
pilkit==3.0
pillow==10.3.0
plaso==20240409
platformdirs==4.2.2
plotly==5.20.0
pluggy==1.5.0
ply==3.11
portalocker==2.2.1
portend==3.2.0
prompt-toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.21.12
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
publicsuffixlist==0.9.3
py==1.11.0
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyasyncore==1.0.2
pycairo==1.26.0
pycares==4.4.0
pycodestyle==2.11.1
pycparser==2.22
pycryptodomex==3.20.0
pycups==2.0.4
pydantic==2.4.2
pydantic_core==2.11.0
pydot==2.0.0
pyee==11.1.0
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-ods==0.6.0
pyexcel-text==0.2.7.1
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
pygexf==0.2.2
pygit2==1.14.1
PyGithub==2.3.0
Pygments==2.18.0
PyGObject==3.48.2
pygraphviz==1.13
pyinotify==0.9.6
PyJWT==2.7.0
pymetasploit3==1.0.6
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyOpenSSL==24.2.1
pyparsing==3.1.2
pypdf==4.3.1
pyppeteer==1.0.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.7.0
PyQt6-sip==13.6.0
pyqtgraph==0.13.7
pyregfi==1.0.1.0
pysmbc==1.0.25.1
PySocks==1.7.1
pytest==8.3.2
python-apt==2.9.0
python-dateutil==2.9.0
python-docx==1.1.2
python-dotenv==1.0.1
python-emailahoy3==0.1.3
python-gitlab==4.3.0
python-jose==3.3.0
python-magic==0.4.27
python-magic-ahupp==0.4.13
python-memcached==1.60
python-multipart==0.0.9
python-pptx==0.6.18
python-whois==0.9.3
python3-openid==3.2.0
pytsk3==20211111
pytz==2024.1
pyu2f==0.1.5
pyxdg==0.28
PyYAML==6.0.1
pyzmq==24.0.1
redis==4.3.4
referencing==0.35.1
regex==2022.10.31
repoze.lru==0.7
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.25.3
retry==0.9.2
rfc3987==1.3.8
rich==13.7.1
Routes==2.5.1
rpds-py==0.12.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
sarge==0.1.7.post1
scikit-learn==1.4.2
scipy==1.12.0
secure==0.3.0
setuptools-scm==8.1.0
sgmllib3k==1.0.0
simplejson==3.19.2
six==1.16.0
smart_open==7.0.4
smmap==6.0.0
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==1.4.50
sqlparse==0.5.1
starlette==0.38.2
stone==3.3.7
strictyaml==1.6.1
swagger-spec-validator==3.0.4
sympy==1.12.1
tables==3.9.2
tabulate==0.9.0
tblib==3.0.0
tempora==5.7.0
tenacity==8.4.2+really8.4.1
terminaltables==3.1.10
texttable==1.7.0
threadpoolctl==3.1.0
tinycss2==1.3.0
titlecase==0.0.0
tld==0.13
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trove-classifiers==2024.4.10
typeguard==4.3.0
typing_extensions==4.12.2
ufoLib2==0.16.0
uritemplate==4.1.1
urllib3==2.0.7
uvicorn==0.30.6
uvloop==0.19.0
vaderSentiment==3.3.2
vine==5.1.0
vinetto==0.8.0
vobject==0.9.6.1
vulners==2.1.2
wapiti3==3.0.4
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.7.0
websockets==10.4
Werkzeug==3.0.4
witnessme==1.5.0
wordcloud==1.9.3+dfsg
wrapt==1.15.0
wsproto==1.2.0
wxPython==4.2.1
xattr==0.10.1
xdg==5
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
xmltodict==0.13.0
yara-python==4.5.1
yarl==1.9.4
yaswfp==0.9.3
zc.lockfile==3.0.post1
zict==3.0.0
zipp==3.20.1
zombie-imp==0.0.2
zstandard==0.23.0.dev0
zstd==1.5.5.1
